<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karaoke Youtube Download</title>
</head>
<body>
<h1>Download a Youtube-Video to Karaoke</h1>
 <form action="/" method="post">
  <label for="song">Songname</label>
  <input type="text" id="song" name="song"><br><br>
  <label for="interpret">Interpret</label>
  <input type="text" id="interpret" name="interpret"><br><br>
  <label for="link">Youtube Link</label>
  <input type="text" id="link" name="link"><br><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>